.pressao {
    float: right;
    margin: 50px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    width: 30%;
    height: 30%;
    position: relative;
}

.mmHG {
    display: inline-block;
    margin: 5px;
    border: 1px solid red;
}

.mmHG, .mini-pressao, .horario, .info-aleatoria {
    top: 15px;
}

.numPressao{
    position: relative;
    float: right;
    width: 60%;
    height: 90%;
    border: 1px solid red;
}

.sistolica, .diastolica {
    display: block;
    font-size: 7em;
    font-weight: 900;
    right: 0;
    position: absolute;
    color: #990073;
    padding: 10px;
}

.diastolica {
    top: 80px;
}

.mini-pressao, .horario, .info-aleatoria {
    margin: 5px;
    height: 50px;
    width: 50px;
    position: relative;
    border: 1px solid red;
    display: block;
    text-align: center;
    align-content: center;
}

.mini-sistolica, .mini-diastolica, .adt, .horas, .mini-info-aleatoria1, .mini-info-aleatoria2 {
    position: absolute;
    right: 0;
    font-size: 20px;
}

.mini-diastolica, .horas, .mini-info-aleatoria2 {
    top: 20px;
}


