<div class="pressao">
    <h5 class="mmHG">mmHG</h5>   
    <div class = "numPressao">        
            <span class = "sistolica" *ngIf="monitoramento">{{monitoramento.pressaoConsultada.sistolica}}</span>
            <span class = "diastolica" *ngIf="monitoramento">{{monitoramento.pressaoConsultada.diastolica}}</span>
        </div> 

    <div class="mini-pressao">
            <span class="mini-sistolica" *ngIf="miniPressao">{{miniPressao.sistolica}}</span>   
            <span class="mini-diastolica" *ngIf="miniPressao">{{miniPressao.diastolica}}</span>
    </div>

    <div class="horario">
        <span class="adt">ADT</span>   
        <span class="horas">10:50</span>        
    </div>

    <div class="info-aleatoria">
            <span class="mini-info-aleatoria1">1 hr</span>   
            <span class="mini-info-aleatoria2">2:10</span>        
    </div>

</div>