
<div class = "monitoramento">
        <div class = "horario">
                <p>{{dataAtual}}</p>
        </div>
        
        <div class="container">
                <app-batimentos></app-batimentos>
                <app-pressao [monitoramento]="monitoramento" (atributoAlterado)="atributoAlterou($event)"></app-pressao>
                <app-temperatura [monitoramento]="monitoramento" (atributoAlterado)="atributoAlterou($event)"></app-temperatura>
                <div class = "footer" *ngIf="monitoramento.terminal">Terminal {{monitoramento.terminal.identificador}}</div>
        </div>   

        
</div>
