<mat-card>
  <mat-card-header>
    <mat-card-title>Novo Terminal</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form #form="ngForm" (submit)="cadastrar(form)" [ngClass]="{'ng-submitted': form.submitted}">
      <div class="form-itens">
        <mat-form-field class="item">
          <label>Nome</label>
          <input matInput autocomplete="off" name="nome" [(ngModel)]="terminal.nome" required minlength="3"
            maxlength="150" #modelNome="ngModel" />
          <mat-hint>

          </mat-hint>
        </mat-form-field>

        <mat-form-field class="item">
          <label>Status</label>
          <mat-select [(ngModel)]="terminal.statusTerminal" name="statusTerminal">
            <mat-option value="ATIVO">Ativo</mat-option>
            <mat-option value="INATIVO">Inativo</mat-option>
          </mat-select>
        </mat-form-field>

        <div class="actions">
          <button mat-raised-button color="primary">Salvar</button>
          <button mat-button type="button" (click)="cancelar(form)">Cancelar</button>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>


<app-listagem-terminais></app-listagem-terminais>
