.container {
    border: 1px solid white;
    position: absolute;
    float: left;
    left: 50px;
    margin-top: 200px;
    min-width: 60%;
    min-height: 60%;
    color: white;
}

h1 {
    font-size: 3em;
    color: red;
    font-weight: bold;
}